{{!--
  PRODUCTION TEMPLATE: contributions_page.hbs
  Source: actual_theme/templates/contributions_page.hbs

  REMOVED FROM COPENHAGEN:
  - my-activities-nav with collapsible-nav (contributions, subscriptions)
  - my-activities-sub-nav with collapsible-nav (filters)
  - my-activities-header with h1
  - requests table with title, type, vote_sum, last_activity, created
  - pagination

  ADDED FROM PRODUCTION:
  - Custom breadcrumbs (sub-nav)
  - Custom search section (c-home-search)
  - my-activities-nav with requests, contributions, subscriptions links
  - my-activities-sub-nav with filters
  - Custom title "My Fairphone Activities"
  - Custom contributions table with title, type, vote_sum, last_activity, created
  - pagination
--}}

<section class="activities-page">
    <nav class="sub-nav sub-nav-far clearfix">
        {{breadcrumbs}}
    </nav>
    <section class="c-home-search">
        <div class="c-home-search__content">
            <div class="c-searchform">
                {{search}}
            </div>
        </div>
    </section>

    <nav class="my-activities-nav">
        <ul>
            {{#if help_center.request_management_enabled}}
                <li>{{link 'requests'}}</li>
            {{/if}}
            <li>{{t 'contributions'}}</li>
            <li>{{link 'subscriptions'}}</li>
        </ul>
    </nav>

    <nav class="my-activities-sub-nav">
        <ul>
            {{#each filters}}
                <li>
                    {{#if selected}}
                        {{name}}
                    {{else}}
                        <a href="{{url}}">{{name}}</a>
                    {{/if}}
                </li>
            {{/each}}
        </ul>
    </nav>

    <div class="my-activities-table contribution-table c-post-body">
        <h1 class="c-title">My Fairphone Activities</h1>
        {{#if contributions}}
            <table>
                <thead>
                    <tr>
                        <th>{{t 'title'}}</th>
                        <th>{{t 'type'}}</th>
                        <th>{{t 'vote_sum'}}</th>
                        <th>{{t 'last_activity'}}</th>
                        <th>{{t 'created'}}</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each contributions}}
                        <tr>
                            <td>
                                <a href="{{url}}">
                                    {{excerpt title characters=60}}
                                </a>
                            </td>
                            <td>{{type}}</td>
                            <td>{{vote_sum}}</td>
                            <td>{{date last_activity_at}}</td>
                            <td>{{date created_at}}</td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        {{else}}
            {{t 'no_contributions'}}
        {{/if}}

        {{pagination}}
    </div>
</section>