{{!--
  PRODUCTION TEMPLATE: search_results.hbs
  Source: actual_theme/templates/search_results.hbs

  REMOVED FROM COPENHAGEN:
  - container-divider and container wrapper
  - sub-nav with breadcrumbs and scoped search
  - search-results-sidebar with source_filters, type_filters, subfilters, content_tag_filters
  - search-results-column with generative_answers, results list (with SVG icons, breadcrumbs, meta)
  - no-results section with SVG illustration
  - pagination

  ADDED FROM PRODUCTION:
  - Custom search hero section (c-simple-search)
  - Custom breadcrumbs (c-breadcrumb-wrapper)
  - Search results column with generative_answers, article_results list
  - Community section removed
  - NOTE: CSS styles moved to SCSS files (breadcrumb, search, category)
--}}

<section class="search-results-page">

  
     {{!-- 2. SEARCH SECTION (Safety net) --}}
  <section class="c-simple-search c-simple-search--white c-simple-search--green">
    <h2 class="c-simple-search__title">{{dc 'hero_title'}}</h2>
    <div class="c-simple-search__form">
      {{search submit=true instant=true placeholder='Search by question, product'}}
    </div>
  </section>
  
    {{!-- 1. BREADCRUMBS (Top) --}}
  <section class="c-breadcrumb-wrapper">
    <div class="c-container">
      {{breadcrumbs}}
    </div>
  </section>

    <div class="search-results clearfix">
        {{!-- 
           INLINE STYLE ADDED BELOW:
           This forces the column to be 100% width, overriding any external CSS.
        --}}
        <section class="search-results-column" style="width: 100% !important; max-width: 100% !important; float: none !important; flex: 0 0 100% !important; padding-right: 0 !important;">
            <h2 class="search-results-subheading">
                {{t 'knowledge_base'}}
            </h2>

            {{!-- Generative AI Answer --}}
            <div class="c-generative-answer">
                {{generative_answers}}
            </div>

            {{#if article_results}}
                <ul class="search-results-list">
                    {{#each article_results}}
                        <li class="search-result">
                            <a href="{{url}}" class="search-result-link">{{title}}</a>
                            {{#if vote_sum}}
                                <span class="search-result-votes">{{vote_sum}}</span>
                            {{/if}}
                            <div class="search-result-meta">{{meta}}</div>
                            <div class="search-result-description">{{text}}</div>
                        </li>
                    {{/each}}
                </ul>
            {{else}}
                <p>
                    {{t 'no_results' query=query}}
                    {{#link 'help_center'}}
                        {{t 'browse_knowledge_base'}}
                    {{/link}}
                </p>
            {{/if}}
        </section>
        
        {{!-- COMMUNITY SECTION REMOVED --}}
        
    </div>

    {{pagination}}
</section>


