{{!--
  PRODUCTION TEMPLATE: section_page.hbs
  Source: actual_theme/templates/section_page.hbs
--}}

<section class="section-page">

  <div class="grid">
    <aside class="section-page-sidebar">
      {{!-- 1. BREADCRUMBS --}}
      <section class="c-breadcrumb-wrapper">
        {{breadcrumbs}}
      </section>
    </aside>

    <section id="main-content" class="section-page-column">
      

        {{!-- STANDARD LAYOUT — All other categories --}}
        <h1 class="c-section-body-title">{{section.name}}</h1>

        {{#if section.description}}
          <p class="c-desc">{{section.description}}</p>
        {{/if}}

        {{#if section.articles}}
          <div class="c-section__content-tree">
                  <ul class="article-list">
                    {{#each section.articles}}
                      <li {{#if promoted}} class="article-promoted" {{/if}}>
                      <article>
                        <header>
                          <div class="search-result-title-container">
                            <h2 class="search-result-title">
                              <a href="{{url}}">
                                {{#if promoted}}
                                <span data-title="{{t 'promoted'}}">★</span>
                                {{/if}}
                                {{title}}
                              </a>
                            </h2>
                          </div>
                          <div class="search-result-btn-container">
                            <a href="{{url}}" class="">
                              {{t "read_guide"}} →
                            </a>
                          </div>
                          <div class="search-result-meta-container">
                            <nav>
                              <ol class="search-result-breadcrumbs">
                                <li data-type="article"><span>article</span></li>
                                {{#each path_steps}}
                                <li><a href="{{url}}" target="{{target}}">{{name}}</a></li>
                                {{/each}}
                                <li class="meta-data">{{t "updated" }}&nbsp;{{date created_at timeago=true}}</li>
                              </ol>
                            </nav>
                          </div>
                        </header>
                      </article>
                      </li>
                    {{/each}}
                  </ul>
          </div>
        {{/if}}


    </section>
  </div>