{{!--
  PRODUCTION TEMPLATE: subscriptions_page.hbs
  Source: actual_theme/templates/subscriptions_page.hbs

  REMOVED FROM COPENHAGEN:
  - my-activities-nav with collapsible-nav (contributions, following)
  - my-activities-following-header with dropdown (current_filter)
  - subscriptions table with user avatar, title, type, following, subscribe
  - pagination

  ADDED FROM PRODUCTION:
  - Custom search section with "We're here to help" heading (c-simple-search)
  - Custom breadcrumbs
  - my-activities-nav with requests, contributions, following links
  - Custom title "My Fairphone Activities"
  - Custom subscriptions table with title, type, subscription, unsubscribe
  - pagination
--}}

<section class="activities-page">
  <section class="c-simple-search c-simple-search--small">
    <h1 class="c-simple-search__title">We're here to help</h1>
    <div class="c-simple-search__form">
      {{search}}
    </div>
    <div class="c-simple-search__breadcrumbs">
      {{breadcrumbs}}
    </div>
  </section>

    <nav class="my-activities-nav">
        <ul>
            {{#if help_center.request_management_enabled}}
                <li>{{link 'requests'}}</li>
            {{/if}}
            <li>{{link 'contributions'}}</li>
            <li>{{t 'following'}}</li>
        </ul>
    </nav>

    <div class="my-activities-table following-table">
        <h1 class="c-title">My Fairphone Activities</h1>
        {{#if subscriptions}}
            <table>
                <thead>
                    <tr>
                        <th>{{t 'title'}}</th>
                        <th>{{t 'type'}}</th>
                        <th>{{t 'subscription'}}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each subscriptions}}
                        <tr>
                            <td>
                                <a href="{{url}}" title="{{title}}">{{excerpt title characters=60}}</a>
                            </td>
                            <td>{{name}}</td>
                            <td>{{subscribe}}</td>
                            <td>{{unsubscribe}}</td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>

            {{pagination}}
        {{else}}
            <p>{{t 'not_following'}}</p>
        {{/if}}
    </div>

</section>